
    <p>Welcome to Project Manager!</p>
    <div class="fbox">
      <img src="logo.png" alt="logo">
    </div>
      <ul class="map">
      <li><a href="/help">Help</a></li>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/task">Add task</a></li>
      <li><a href="/plan">Week Schedule</a></li>
      <li><a href="/calendar">Calendar</a></li>
    </ul>
    </div>