<div class="page">
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__group"><a href="/" class="menu__link">Home</a></li>
        <li class="menu__group"><a href="/help" class="menu__link">Help</a></li>
        <div class="dropdown">
        <li class="menu__group"><a href="/" class="menu__link">Start planning</a></li>
      <div class="dropdown-content">
        <a href="/task">Add task</a>
        <a href="/plan">Week Schedule</a>
        <a href="/calendar">Calendar</a>
      </div>
    </div> 
      </ul>
    </nav>
    <div class="sbox">
    <img src="Search-512.png" alt="logo">
  </div>
    <form class="search" action="">
    <input type="search" placeholder="Search here..." required>
    <button type="submit">Search</button>
  </form>   
  </div>