body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "article article article"
    "footer footer footer";
  grid-template-rows: 80px 2500px 5%;  
  grid-template-columns: 1fr 20% 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 350vh;
  margin: 0;
  }  
header{
  padding: 1.2em;
  background: #E14B3C;
  }
footer, article {
  padding: 1.2em;
  background: white;
}
#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle { 
  grid-area: article;      
  }

.dropdown {
  font-size: 20px;  
  border: none;
  outline: none;
  color: #2F4F4F;
  font-family: inherit;
  text-align: center;
  width: 200px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

.text-block{
  position: absolute;
  animation-name: fadeIn;
  animation-duration: 2s;
  left: 30px;
}

.text-block h3{
  font-size: 3em;
  text-align: center;
  font-family: 'Alegreya', serif;
  color: #2F4F4F;
}
.text-block p{
  font-size: 1.3em;
  text-align: left;
  font-family: 'Alegreya', serif;
  color: #2F4F4F;
}
.sbox{
  display: flex;
  justify-content: left;
}
.sbox img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 10px;
  right: 600px;
}

.hbox{
  display: flex;
  justify-content: left;
}
.hbox img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 27px;
  left: 130px;
}

.cbox{
  display: flex;
  justify-content: left;
}
.cbox img {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 30px;
  left: 240px;
}

.pbox{
  display: flex;
  justify-content: left;
}
.pbox img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 28px;
  left: 335px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.obox{
  display: flex;
  justify-content: center;
}
.obox img{
  position: absolute;
  width: 800px;
  height: 700px;
  border-radius: 8px;
  animation-name: fadeIn;
  animation-duration: 2s;
  top: 100px;
  right: 10px;
}

.fbox{
  display: flex;
  justify-content: center;
}
.fbox img{
  position: relative;
  width: 100px;
  height: 70px;
  top: -60px;
  left: -440px;
}
.map{
  display: flex;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 2680px;
  left: 500px;
  list-style-type: none;
}
.map li{
  display: inline-block;
  padding: 10px;
}
.map a{
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.map a:hover{
  color: red;
}

.help
{
  position: absolute;
  top: 800px;
  left: 0;
}

.colour-block {
  background:#E14B3C;
  width:60%;
  padding:7% 20% 10% 20%;
  color:#fff;
}
.white-block {
  background:#fff;
  width:60%;
  padding:7% 20% 10% 20%;
  color:#E14B3C;
}
h1 {
  text-align:center;
  font-size:80px;
  font-family:'wire one', serif;
  font-weight:normal;
}
p {
  font-size:20px;
  font-family:'Raleway', serif;
}


/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to right bottom, #E14B3C 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}


/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to left bottom, #fff 49%, #E14B3C 50%);
}

.buton button {
  position: absolute;
  top: 500px;
  left: 200px;
  border: 2px solid #E14B3C;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: black;
  background: #FFF8DC;
}   
.buton a{
  text-decoration: none;
  font-family: 'Alegreya', serif;
  color: black;
}

.buton button:hover {
  background: #FFF8DC;
  color:#444;
  border-radius:  3px;
  border: 1px solid #2F4F4F;
  background: #FFF8DC;
}
.buton button:active {
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);}

.buton button:focus {
  outline: 0;
}

.pic{
  display: flex;
}
.pic img{
  position: absolute;
  width: 300px;
  height: 200px;
  left: 0px;
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 600px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "footer";
    grid-template-rows: 80px 1fr 60%;  
    grid-template-columns: 100%;
    font-size: 0.75em;
 }
 .search, .search input, .search button{
  display: none;
 }
 .navbar a,.dropdown .dropbtn{
  font-size: 15px;
  color: #2F4F4F;
  text-align: center;
  padding: 14px 32px;
 }
 .hbox, .pbox, .cbox,.fbox, .pic img, #pageFooter p{
  display: none;
 }
 .obox img{
  position: absolute;
  width: 400px;
  height: 400px;
  top: 280px;
 }
 .text-block h3{
  font-size: 20px;
 }
 h1,p{
  font-size: 20px;
 }
 .map{
  position: absolute;
  left: 0px;
  top: 1550px;
 }
}


/* 
=====
EFFECT FADING OUT FOR SIBLINGS MENU OPTIONS 
=====
*/

.menu:hover .menu__link:not(:hover){
  color: black;
}

/* 
=====
MENU STYLES
=====
*/

/* core styles */

.menu__list{
  display: flex;  
  text-align: center;
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
  list-style: none; 
}

.menu__group{
  flex-grow: 1;
}

.menu__link{
  display: block;
  height: 68%;
}

/* skin */

.menu{
  background-color: #E14B3C;
  position: absolute;
  top: 0px;
  width: 50%;
  left: 0px;
  height: 10.5%;
}

.menu__link{
  padding: 1rem 1.5rem;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

/* hover animation */

.menu__link{
  position: relative;
  overflow: hidden;

  will-change: color;
  transition: color .25s ease-out;  
}

.menu__link::before, 
.menu__link::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: #fff;

  will-change: width;
  transition: width .1s ease-out;

  position: absolute;
  bottom: 0;
}

.menu__link::before{
  left: 50%;
  transform: translateX(-50%); 
}

.menu__link::after{
  right: 50%;
  transform: translateX(50%); 
}

.menu__link:hover::before, 
.menu__link:hover::after{
  width: 100%;
  transition-duration: .2s;
}


.page{
  box-sizing: border-box;
  width: 100%;
  order: 1;
  margin: auto;
}

.search {
  width: 500px;
  height: 40px;
  margin: auto;
  background-color:transparent;
  margin-top: 5px;
  margin-right: 80px;
}

.search :hover{
  border-radius:  3px;
  border: 1px solid #2F4F4F;
  background: #FFF8DC;
}

.search input {
  width: 370px;
  padding: 10px 5px;
  float: left;
  color: #2F4F4F;
  border: 0;
  background: transparent;
  background-color: white;
  border-radius: 3px 0 0 3px;}

.search input:focus {
  outline: 0;
  background:transparent;}

.search button {
  position: relative;
  float: right;
  border: 2px solid #E14B3C;
  padding: 0;
  cursor: pointer;
  height: 39px;
  width: 120px;
  color: #2F4F4F;
  background: #FFF8DC;
}   

.search button:hover {
  background: #FFF8DC;
  color:#444;}
.search button:active {
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);}

.search button:focus {
  outline: 0;
}