<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head'); -%>
	<title>Help</title>
<link rel="stylesheet" type="text/css" href="help.css">
</head>
<body>
  <header id="pageHeader">
    <%- include('../partials/header'); -%>
</header>
<body>
<article id="mainArticle">
    <div class="obox">
     <img src="d0a103.png" alt="logo">
     <div class="text-block">
       <h3>Make more time for the work that matters most</h3>
       <h3>Get started now.</h3>
     </div>
    </div>
<div class="row">
  <div class="column">
    <h2>Get organized</h2>
    <p>Plan and structure work in a way that’s best for you. Set priorities and deadlines. Share details and assign tasks. All in one place.</p>
  </div>
  <div class="column">
    <h2>Stay on track</h2>
    <p>Follow projects and tasks through every stage.</p>
  </div>
  <div class="column">
    <h2>Hit deadlines</h2>
    <p>Respect the deadlines and increase your efficiency at work.</p>
  </div>
</div>
<div class="text-b">
       <h3>This is our program explained: </h3>
</div>
<div class="expl">
  <img src="Captură ecran (25).jpg" alt="meniu">
</div>
<div class="frame">
   <h3>We want to help you learn how to organize your time. So here are some tips and tricks on time management.</h3>
   <iframe src="https://www.projectsmart.co.uk/10-tips-for-managing-time-effectively.php" name="iframe_a"></iframe>
</div>
</article>
  <footer id="pageFooter">
    <%- include('../partials/footer'); -%>
</footer>
</body>
</html>